<%= content_for :body do %>
<div class="container menu-bg">
  <% if flash[:order_complete_error] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:order_complete_error] %>
    </div>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "item", collection: @items, as: :item, locals: {order: @order} %>
      <td></td>
      <td></td>
      <td>Total:</td>
      <td><%= number_to_currency( @order.product_orders_total_cost ) %></td>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <%= link_to "Purchase Order", @order, method: "patch", class: "btn btn-primary" %>
  </div>
</div>
<% end %>