<%= content_for :body do %>
  <!-- Page Content -->
  <div class="container menu-bg">
    <div class="row">
      <div class="col-lg-3 pt-4">
       <%= render 'side_bar' %>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="<%= @product.image_url %>" alt="">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                  <h3 class="card-title"><%= @product.name %></h3>
              </div>
              <div class="col-4 text-right">
                  <% if current_customer %>
                    <%  if !current_customer.cart_include?(@product) %>
                      <span id="order-product-form"><%= render "product_orders/new", locals: [product_id: @product.id] %></span>
                    <% else %>
                      <span> 
                        <svg id="i-checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 10 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                          <path d="M2 20 L12 28 30 4" />
                        </svg>Added
                       </span>
                    <% end %>
                <% end %>
              </div>
            </div>           
            <h4> <%=number_to_currency(@product.price)%> </h4>
            <p class="card-text"><%=@product.ingredients.capitalize%></p>
            <span class="text-warning"><%= @product.average_star_rating %></span>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
              
             <%= render(partial: "review", collection: @product.reviews) || "There are no reviews currently." %>
            <!-- <a href="" class="btn btn-success" data-toggle="modal" data-target="review-modal">Leave a Review</a> -->
           <% if current_customer %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#review-modal">
                Leave a Review
              </button>
            <% end %>
          </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
  </div>
  <!-- /.container -->


  <!--modal-->
          <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row justify-content-center">
                    <div class="col-11">
                        <%= form_for :review, url: reviews_path do |f|%>
                          <%= f.hidden_field :product_id, value: @product.id%>
                          <%= f.label :content, "Write content here:" %><br>
                          <%= f.text_area :content, class: "form-control" %><br>
                          <%= f.label :rating, "Rating: " %>
                          <%= f.select :rating, 1..5 %>
                        <div class="row ">
                          <div class="col-12 text-right">
                            <%= f.submit class: "btn btn-primary" %>
                          </div>
                        </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<% end %>