<!DOCTYPE html>
<html>

<head>

  <title><%= @title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= yield :css %>

</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="<%= home_path %> ">Dough2Go</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="main-navbar">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: #FDA7DF; border-width: 0;">
            <a class="dropdown-item" href=" <%= products_path query:'donuts' %>">Donuts</a>
            <a class="dropdown-item" href="/products?query=beverages">Beverages</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/contact">Contacts <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      


      <% if current_customer.nil? %>
        <div class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="nav-search-dropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-reference="parent">
            <svg id="i-signin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none"
              stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M3 16 L23 16 M15 8 L23 16 15 24 M21 4 L29 4 29 28 21 28" />
            </svg>
          </a>
          <div class="dropdown-menu dropdown-menu-right" style="background: #FDA7DF; border-width: 0;">
            <%= render "static/signin_form" %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/customers/new">New around here? Sign up</a>
          </div>
        </div>
      <% else %>
        <div class="nav-item" id="cart-view">
          <a class="nav-link" href="<%= order_path(current_order) %>" > 
            <svg id="i-cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
              <circle cx="25" cy="27" r="2" />
              <circle cx="12" cy="27" r="2" />
            </svg>
            <span class="badge badge-pill badge-primary" id="cart-badge"><%= cart_counter %></span>
          </a>
        </div>
        <div class="nav-item" id="profile-view">
          <a class="nav-link dropdown-toggle" href="#" id="nav-profile-dropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" data-reference="parent">
          <svg id="i-user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
        </svg>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="background: #FDA7DF; border-width: 0;">
          <a class="dropdown-item" href="<%= edit_customer_path( current_customer ) %>">Edit Profile</a>
          <a class="dropdown-item" href="<%= customer_path(current_customer) %> ">Previous Orders</a>
          <div class="dropdown-divider"></div>
         <a class="nav-link" href="<%= sessions_destroy_path(current_customer) %>" > Sign out</a>

        </div>
        </a>
        </div>
        <!-- <div class="nav-item" id="signout-view">
          <a class="nav-link" href="<%#= sessions_destroy_path(current_customer) %>" > 
            <svg id="i-signout" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M28 16 L8 16 M20 8 L28 16 20 24 M11 28 L3 28 3 4 11 4" />
            </svg>
          </a>
        </div> -->

      <% end %>
      
  </nav>
  <%= yield :body %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>